@tailwind base;
@tailwind components;
@tailwind utilities;

.hh {
  border: solid 1px red;
}

@media (min-width: 1024px) {
  #root {
    width: fit-content;
    justify-self: center;
    align-self: center;
  }
}
body {
  display: grid;
  background-color: hsl(217, 100%, 97%);
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
}
